* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: paleturquoise;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.nav-links > li {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.nav-links li:hover {
  background-color: lightcoral;
  cursor: pointer;
}


.nav-links li:first-child:hover {
  background-color: orchid;
}

.nav-links li:first-child ~ li {
    display: none;
}

.nav-links li:first-child:hover ~ li {
    background-color: turquoise;
    display: flex;
}